spring:
  profiles:
    active: dev
camel:
  springboot:
    shutdownTimeout: 2
    health.indicator.enabled: true

management:
  security:
    enabled: false
  endpoint:
    health:
      show-details: always




server:
  port: 8088

---
spring:
  profiles: mock
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres

startRoute: direct:input
fromRoute : file:data/input?delete=true&readLock=none&moveFailed=error
toRoute1: mock:output
toRoute2: mock:output1
toRoute3: mock:output2
healthRoute: direct:health


message: MOCK enviroment

---
spring:
  profiles: dev
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  mail:
    host: smtp_server_conf
    port: port
    username: your@mail.com
    password: Y0UR_P@$$W0RD
    properties.mail.smtp.auth: true
    properties.mail.smtp.starttls.enable: true

mailTo: your@mail.com
mailFrom: your@mail.com



startRoute: timer:hello?period=10s
fromRoute: file:data/input?delete=true&readLock=none&moveFailed=error
toRoute1: file:data/output
toRoute2: jdbc:dataSourceCamel
toRoute3: file:data/output?fileName=Success.txt
healthRoute: timer:healthRoute?period=10s

message: DEV enviroment

---
spring:
  profiles: stage
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  mail:
    host: smtp_server_conf
    port: port
    username: your@mail.com
    password: Y0UR_P@$$W0RD
    properties.mail.smtp.auth: true
    properties.mail.smtp.starttls.enable: true

mailTo: your@mail.com
mailFrom: your@mail.com


startRoute: timer:hello?period=10s
fromRoute: file:data/input?delete=true&readLock=none&moveFailed=error
toRoute1: file:data/output
toRoute2: jdbc:dataSourceCamel
toRoute3: file:data/output?fileName=Success.txt
healthRoute: timer:healthRoute?period=10s

message: STAGE enviroment

---

spring:
  profiles: prod
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  mail:
    host: smtp_server_conf
    port: port
    username: your@mail.com
    password: Y0UR_P@$$W0RD
    properties.mail.smtp.auth: true
    properties.mail.smtp.starttls.enable: true

mailTo: your@mail.com
mailFrom: your@mail.com



startRoute: timer:hello?period=10s
fromRoute: file:data/input?delete=true&readLock=none&moveFailed=error
toRoute1: file:data/output
toRoute2: jdbc:dataSourceCamel
toRoute3: file:data/output?fileName=Success.txt
healthRoute: timer:healthRoute?period=10s

message: PROD enviroment
---