

spring:
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
camel:
  springboot:
    shutdown-timeout: 2

---
spring:
  profiles: mock

startRoute: direct:input
fromRoute: file:data/input?delete=true&readLock=none
toRoute1: mock:output

message: MOCK enviroment

---
spring:
  profiles: dev

startRoute: timer:hello?period=10s
fromRoute: file:data/input?delete=true&readLock=none
toRoute1: file:data/output

message: DEV enviroment

---
spring:
  profiles: stage

startRoute: timer:hello?period=10s
fromRoute: file:data/input?delete=true&readLock=none
toRoute1: file:data/output

message: STAGE enviroment

---

spring:
  profiles: prod

startRoute: timer:hello?period=10s
fromRoute: file:data/input?delete=true&readLock=none
toRoute1: file:data/output

message: PROD enviroment
---